BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 120

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: False
AllowShortBlocksOnASingleLine: Never

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

SpacesInParentheses: false
SpaceAfterCStyleCast: true

PointerAlignment: Left
ReferenceAlignment: Left

AlignOperands: true
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false

SortIncludes: true
IncludeBlocks: Regroup

Cpp11BracedListStyle: true

NamespaceIndentation: All
IndentCaseLabels: true

KeepEmptyLinesAtTheStartOfBlocks: false
