Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
  -readability-magic-numbers,
  -readability-implicit-bool-conversion,
  -modernize-use-trailing-return-type,
  -modernize-redundant-void-arg,
  -modernize-use-nodiscard
WarningsAsErrors: ''
HeaderFilterRegex: '^(client|server|shared|tests)/'
FormatStyle: file
