# Server Log Config
# Uncomment tags you want to see in console (verbose mode)
# Lines starting with # are ignored
# All logs are still written to logs/server.log

# Network & Snapshots
[Snapshot]
#[Input]
[Net]
#[Packets]


# Gameplay
[Game]
#[Collision]
#[Spawn]
#[Level]
#[Replication]


# Players
#[Player]
#[Death]
#[Respawn]
